
{% load static %}

<link rel="stylesheet" href="{% static 'active_users/style.css' %}" />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<div class="user_pages">
    <span class="">
        Users
    </span>
    <div class="user_links">
        
        <div class="column" id="new_user_form">
        <form action="add_user/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="New User" />
        </form>
        </div>
        
        {% for user in users %}
            {# Each "user" is a User model object. #}
            
            
            
            <div class="column">
            
            <a  data="{{ user.id }}"
                href="" >
                {{ user.username|upper }}
            </a> 
            
            </div>
            
            <div class="column">
            
                {% if user.active %}
                
                <span id="{{ user.username }}">
                    This user is active
                </span>
                
                {% else %}
                
                <span id="{{ user.username }}"
                      hidden>
                    This user is active
                </span>
                
                {% endif %}
            
            </div>
            
            <div class="column">
            
            <a  
                href="delete/{{ user.username }}" >
                Delete user
            </a>
            
            </div>
            
            <div class="column">
            
            <div class="user_edition">
                
                <form action="edit_user/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="previoususername" value="{{ user.username }}" />
                    <input class="editb" type="submit" value="Edit" />
                </form>
                
            </div>
            
            </div>
            
          

            
            
        {% endfor %}
        

        
        
    </div>
</div>



<script>
    
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var active_users_socket = new WebSocket(ws_scheme + '://' 
                + window.location.host 
                + window.location.pathname);
    
    $('.user_links a').on('click', function(event) {
        
        var userid = event.target.attributes.data.nodeValue;
        var username = undefined;
        
        
        console.log("TESTT");
        
        $.ajax({
        url: '/get_user/'+userid,
        dataType: 'json',
        async: false,
        success: function (data) {
            
          //d = JSON.parse(data);
          username = data["username"]
        }
      });
        
        console.log(username);
        
        if ((window.username !== undefined) && (window.userid !== userid)){
            
            //send a disconect message from the previous user
            var message = {"message" : window.username,
                           "userid" : window.userid,
                           "status" : "inactive",
                           "exclude" : 1 }
            
            active_users_socket.send(JSON.stringify(message));
            
            
            
            $('.user_links span[id="'+window.username+'"]').attr("hidden", true);
            
            window.username = username;
        }
        

        
        var message = {"message" : username,
                       "userid" : userid,
                       "status" : "active",
                       "include" : 1 }
        
        active_users_socket.send(JSON.stringify(message));
        
        console.log(event.target.attributes)
        
        window.username = username;
        window.userid = userid;
        
        
        return false;

    });

    active_users_socket.onmessage = function(event2) {
        
        var data = JSON.parse(event2.data);
        console.log(data["message"]);
        
        var new_active_user = data["message"];
        var status = data["status"];
        console.log(status);
        if (status === "active"){
            $('.user_links span[id="'+new_active_user+'"]').attr("hidden", false);     }
        else if (status === "inactive") {
            $('.user_links span[id="'+new_active_user+'"]').attr("hidden", true);
        }
        
    };
    

    
    
</script>
