
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="user_pages">
    <span class="">
        Users
    </span>
    <div class="user_links">
        {% for user in users %}
            {# Each "user" is a User model object. #}
            
            <a  data="{{ user.username }}"
                href="" >
                {{ user.username|upper }}
            </a> 
            
            <span id="{{ user.username }}"
                  hidden>
                This user is active
            </span>
            
            <br />
            
            
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
    
    
    
    $('.user_links a').on('click', function(event) {
        
        if (window.active_users_socket !== undefined){
            
            window.active_users_socket.close();
            
            $('.user_links span[id="'+window.username+'"]').attr("hidden", true);
        }
        
        var username = event.target.attributes.data.nodeValue;
        
        
        
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var active_users_socket = new WebSocket(ws_scheme + '://' 
            + window.location.host 
            + window.location.pathname
            + username);
        /*
        var message = {
            handle: $('#handle').val(),
            message: username,
        };
        */
        //active_users_socket.send(JSON.stringify(message));
        console.log(event.target.attributes)
        window.active_users_socket = active_users_socket;
        window.username = username;
        //window.active_user_socket.onclose = function () {};
        window.active_users_socket.onmessage = function(event2) {
            
            var data = JSON.parse(event2.data);
            console.log(data["message"]);
            
            var new_active_user = data["message"];
            var status = data["status"];
            console.log(status);
            if (status === "active"){
                $('.user_links span[id="'+new_active_user+'"]').attr("hidden", false);     }
            else if (status === "inactive") {
                $('.user_links span[id="'+new_active_user+'"]').attr("hidden", true);
            }
            
            /*
            $('#chat').append('<tr>' 
                + '<td>' + data.timestamp + '</td>' 
                + '<td>' + data.handle + '</td>'
                + '<td>' + data.message + ' </td>'
            + '</tr>');
            */
        };
        
        return false;

    });
    
</script>
